* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #FFFFFF;
}

.wrapper>main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 720px;
    box-sizing: content-box;
    margin: 0 auto;
}

.wrapper {}

.header {
    background: #0F6D00;
    max-height: 72px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.8));
}

.main {}

.footer {
    background: #670101;
}

.header__body {
    display: flex;
    align-items: center;
}

.header__logo {
    margin: 0px 20px 0px 0px;
}

.header__links {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
}

.header__link {
    cursor: pointer;
}

.header__link:not(:last-child) {
    margin: 0px 15px 0px 0px;
}

.header__link:hover {
    text-decoration: underline;
}

.main{
}

.main-top__wrapper {
    background: url('./images/test-blur.png');
}

.main__top {
    background: url('./images/test.png') 0 0/100% 100% no-repeat;
    padding: 288px 0px 20px 0px;
}

.main__title {
    font-size: 42px;
    line-height: 51px;
    margin: 0px 0px 25px 0px;
}

.main__label {
    font-size: 24px;
    line-height: 29px;
}

.main__text {
    padding: 43px 0px;
    color: #000000;
}

.main__text p:not(:last-child) {
    margin: 0px 0px 15px 0px;
}

.footer__body {
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
}

.footer__copy {}

.footer__design {}
